@import url('https://fonts.googleapis.com/css2?family= Shrikhand & display=swap') ;
*{
    padding: 0px;
    margin: 0px;
}
html{
    overflow-x: hidden;
}

body{
    background-color: rgba(233, 21, 233, 0.979);  
     
}
.caixa{
   
    height: 600px;
    background-image: linear-gradient(rgba(233, 21, 233, 0.979), rgb(228, 117, 238));
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    font-family: 'Shrikhand', cursiva;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
h1{
    
    color: white;
    font-family: 'Shrikhand', cursiva;
}
#resposta{
    font-size: 20pt;
    color: white;
}
#botao{
    border-radius: 10px;
    width: 150px;
    height: 30px;
}
#numero{
    border-radius: 30px;
    height: 20px;
}
#botao:hover{
    background-color: rgb(241, 5, 222);
    color: white;
    font-family: 'Shrikhand', cursiva;
}